@import "About__container";
@import "About__title";
@import "About__subtitle";
@import "About__paragraph";
@import "About__phone";
@import "../learn-more-btn/learn-more-btn";

.About {
  height: 820px;
  margin-top: 42px;
  background-color: $light-green;
}