@import "About-container";
@import "About-title";
@import "About-subtitle";
@import "About-paragraph";
@import "About-btn";
@import "About-phone";

.About {
  height: 820px;
  margin-top: 100px;
  background-color: $light-green;
}