.Screenshot-title {
  font-size: 36px;
  font-weight: 900;
  color: $green-color;
}
.Screenshot-title::after {
  margin-top: 19px;
  display: block;
  content: '';
  width: 104px;
  height: 3px;
  background-color: #949C9C;
}