@import "Screenshot-pictures";
@import "Screenshot_txt-block";
@import "Screenshot-title";
@import "Screenshot-subtitle";
@import "Screenshot-paragraph";




.Screenshot {
  height: 815px;
  margin-top: 125px;
  background-color: $light-green;
  overflow: hidden;
}