.Screenshot_ph1 {
  z-index: 5;
  position: relative;
  right: -20px;
  margin-top: 77px;
}
.Screenshot_ph2 {
  position: relative;
  right: 390px;

}
.Screenshot_screen1 {
  position: relative;
  z-index: 10;
  right: 273px;
  top: -94px;
}