@import "Screenshot__pictures";
@import "Screenshot__txt-block";
@import "Screenshot__title";
@import "Screenshot__subtitle";
@import "Screenshot__paragraph";
@import "../learn-more-btn/learn-more-btn";




.Screenshot {
  height: 815px;
  margin-top: 205px;
  background-color: $light-green;
  overflow: hidden;
}