@import "five-pictures";
@import "five-txt-block";
@import "five-title";
@import "five-subtitle";
@import "five-p";
@import "five-button";




.five-land-page {
  height: 800px;
  margin-top: 125px;
  background-color: $light-green;
}