@import "tab-content__item1/tab-content__item1";

.tab-content {
  border-radius: 60px;
  position: relative;
  top: -550px;
  right: -400px;
  width: 787px;
  height: 595px;
  border: 1px solid #ccc;
}