@import "five-title/five-title";
@import "five-subtitle/five-subtitle";
@import "five-p/five-p";
@import "five-button/five-button";

.five-txt-block {
  position: relative;
  right: -650px;
  top: -600px;
}