.Gallery_mobile-block {
  height: 700px;
}
.screen-copy1 {
  position: relative;
  z-index: 3;
  top: -534px;
  right: -23px;
  overflow: hidden;

}
.Gallery-phone {
  margin: 50px 35px auto;
  width: 300px;
  height: 400px;
  display: inline-block;

}