.five-pictures {
}
.ph1 {
  z-index: 5;
  position: relative;
  right: -50px;
  margin-top: 62px;
}
.ph2 {
  position: relative;
  right: 350px;

}
.screen1 {
  position: relative;
  z-index: 10;
  right: 243px;
  top: -92px;
}