.Newsletter-input {
  background-color: #fff;
  margin: 51.9px auto;
  width: 770px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #BBC3C2;
}
.input {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  right: -30px;
  width: 555px;
  height: 58px;
  border: none;
}