.tab-content-item {
  display: none;
}
.tab-content-item.active {
  padding: 50px;
  display: block;
  font-size: 24px;
  font-weight: 400;
}
.tab-content-item-h3 {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 27px;
}
.tab-content-item-p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: #AFB8B8;
}
.big {
  position: relative;
  right: -207px;
  top: -5px;
  margin-bottom: 67px;
}