@import "header/header";
@import "Intro/Intro";
@import "About/About";
@import "Gallery/Gallery";
@import "Features/Features";
@import "Screenshot/Screenshot";
@import "Comments/Comments";
@import "Newsletter/Newsletter";
@import "footer/footer";
@import "btn/btn";
@import "btn/btn_inversed";
@import "btn/btn_submit";
@import "title/title";
@import "paragraph/paragraph";
@import "block/block";
@import "scroll-panel/scroll-panel";
@import "scroll-panel/scroll-panel__tab-content-item";
@import "scroll-panel/scroll-panel__tab-content";
@import "scroll-panel/scroll-panel__tab-header-item";
@import "scroll-panel/scroll-panel__tab-header";
@import "container/container-g";
@import "tab-content/tab-content";


html {
  scroll-behavior: smooth;
  font-family: $ral;
}



@media (max-width: 1024px) {

  /*header*/
  .nav {
    display: none;
  }

  /*0ne-land-page*/

  .one-container {
    text-align: center;
  }
  .h1-1-land-page {
    font-size: 56px;
  }
  .p-one-land-page {
    font-size: 20px;
  }
  .hand-one-land-page {
    display: none;
  }
  .screen-one-land-page {
    display: none;
  }

  /*Two-land-page*/

  .tab-header__item1 {
    margin-left: 30px;
    width: 150px;
    height: 45px;
    font-size: 16px;
  }
  .tab-content {
    top: -350px;
    right: -250px;
    width: 655px;
    height: 444px;
  }
  .scroll-panel {
    height: 350px;
  }

  /*Three-land-page*/

  .three-container {
    margin-left: 50px;
  }
  .three-phone {
    right: -550px;
  }
  .three-phone-screen {
    right: -257px;
  }

  /* Four-land-page */

  .four-phone {
    margin: 0;
    padding: 0;
  }
  .mobile1 {
    margin-top: 20px;
    width: 248px;
  }
  .screen-copy1 {
    margin-top: 20px;
    width: 215px;
    top: -468px;
    right: 0px;
  }
  .mobile-subtitle {
    position: relative;
    top: -120px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
  }

  /* Five-land-page */

  .five-pictures {
    display: none;
  }
  .five-txt-block {
    text-align: left;
    margin-left: 100px;
    padding-top: 100px;
    top: 0;
    right: 0;
  }
  .five-title {
    font-size: 48px;
  }
  .five-subtitle {
    font-size: 48px;
  }
  .five-p {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    width: 40px;
    height: 40px;
  }
    /* Two-land-page */

  .tab-content {
    width: 500px;
  }

  /* Three-land-page */

  .three-phone {
    display: none;
  }
  .three-phone-screen {
    display: none;
  }
  .three-title {
    font-size: 48px;
  }
  .three-subtitle {
    font-size: 48px;
  }
  .three-p {
    font-size: 24px;
  }

  /* Four-land-page */

  .twophone {
    display: none;
  }
  .threephone {
    display: none;
  }
  .twosubtitle {
    display: none;
  }
  .threesubtitle {
    display: none;
  }
  .mobile1 {
    width: 300px;
  }
  .screen-copy1 {
    width: 257px;
    top: -568px;
  }
  .mobile-subtitle {
    top: 0;
  }

  /* Seven-land-page */

  .seven-input {
    width: 500px;
  }
  .input {
    width: 330px;
    height: 48px;
  }
  .seven-button {
    right: -500px;
  }

  /*  Footer */
  
  .footer-nav{
    margin: 40px 0px 0px 200px;
  }
}

@media (max-width: 375px) {

  /* Header */
  .menu-btn {
    width: 30px;
    height: 30px;
  }
  .header {
    margin: 10px 0px;

  }
  .logo-text {
    position: relative;
    right: 40px;
    font-size: 14px;
  }
  .links__item {
    display: none;
  }
  .phone {
    display: none;
  }

  /* One-land-page */

  .one-land-page {
    height: 500px;
}
  .h1-1-land-page {
    padding-top: 90px;
    font-size: 28px;
  }
  .p-one-land-page {
    font-size: 11px;
  }

  /* Two-land-page */

  .h1-two-land-page {
    margin-top: 50px;
    font-size: 24px;
  }
  .two-p-land-page {
    font-size: 11px;
  }
  .tab-header__item1 {
    width: 90px;
    height: 30px;
    font-size: 11px;
  }
  .tab-content {
    top: -250px;
    right: -150px;
    width: 200px;
    height: 450px;
  }
  .tab-content__item1-h3 {
    font-size: 14px;
  }
  .tab-content__item1-p {
    font-size: 11px;
  }
  .tab-content__item1.active {
    padding: 27px;
  }

  /* Three-land-page */

  .three-land-page {
    height: 560px;
  }
  .three-title {
    padding-top: 50px;
    font-size: 24px;
  }
  .three-subtitle {
    font-size: 24px;
  }
  .three-p {
    font-size: 14px;
  }

  /*  Five-land-page */

  .five-title {
    padding: 0;
    font-size: 24px;
  }
  .five-subtitle {
    font-size: 24px;
  }
  .five-p {
    font-size: 14px;
  }
  .five-txt-block {
    top: -50px;
    right: 50px;
  }
  .five-land-page {
    height: 590px;
  }

  /*  Six-land-page */

  .six-title {
    font-size: 27px;
  }

  /* Seven-land-page */

  .seven-title {
    font-size: 27px;
  }
  .seven-input {
    width: 375px;
  }
  .input {
    width: 300px;
    height: 50px;
  }
  .seven-button {
    font-size: 14px;
    width: 100px;
    right: -275px;
  }

  /*  Footer */

  .footer-nav {
    position: relative;
    margin: 0;
    top: 30px;
  }
  .menu-list {
    font-weight: 400;
    font-size: 12px;
  }
  .menu-list__item {
    font-size: 12px;
  }
}