.Intro-hand {
  position: relative;
  top: -376px;
  right: -250px;
  width: 946px;
  height: 610px;
  background: url("../../img/image.png");
}
.Intro-screen {
  position: relative;
  right: -460px;
  bottom: -66px;
}