@import "six-title/six-title";
@import "six-user/six-user";
@import "six-comment/six-comment";
@import "six-name/six-name";


.six-container {
  margin: 0 auto;
  position: relative;
  max-width: 1164px;
}