.Features_tab-header__item1 {
  display: flex;
  margin-bottom: 17px;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 308px;
  height: 96px;
  font-size: 20px;
  font-weight: 400;
  color: #9FA9A9;
  cursor: pointer;
}
// .Features_tab-header__item1:hover {
//   color: $green-color;
//   border-radius: 30px;
//   background-color: #eee;
//   transition: background-color .1s linear;
// }
.Features_tab-header__item1.active {
  color: $green-color;
}
.heart {
  margin-right: 40px;
}
.min {
  margin-right: 40px;
}
.list {
  margin-right: 40px;
}
.ramka {
  margin-right: 60px;
}
.umbrella {
  margin-right: 40px;
}