.Features_tab-content__item1 {
  display: none;
}
.Features_tab-content__item1.active {
  padding: 50px;
  display: block;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}
.Features_tab-content__item1-h3 {
  font-size: 24px;
  font-weight: 400;
}
.Features_tab-content__item1-p {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  color: #AFB8B8;
}